{%  extends 'base/base.html' %}

{% block content%}
{% if messages %}
<ul class="messages" style="padding:16px; background-color:#990000;">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}  style = "font-family: Righteous; font-size: 20px;">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
{% load staticfiles %}
<!-- TERMINAR ESTO
<div id = "main-container">
    <h1 align="center" style="font-family: Righteous; color:maroon;">Ordenes Realizadas</h1>
    <table>
        {% if object_list %}
        <thead>
            <tr>
                <th style="font-family: Righteous;"><center>No. Serie</center></th>
                <th style="font-family: Righteous;"><center>Fecha de la Orden</center></th>
                <th style="font-family: Righteous;"><center>¿Lleva Instalacion?</center></th>
                <th style="font-family: Righteous;"><center>¿Cancelado?</center></th>
                <th style="font-family: Righteous;"><center>Numero de pedidos relacionados de clientes CISA</center></th>
                <th style="font-family: Righteous;"><center>Proveedor</center></th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
        {% if object_list %}
        {% for usuario in object_list %}
        <tr align="center">
            <td>{{usuario.nombre_usuario}}</td>
            <td>{{usuario.tipo_rol}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'ventas:usuario_actualizar' usuario.codigo %}"  style="font-family: Righteous;">
                    Modificar
                </a>
                <a class="btn btn-danger" href="{% url 'ventas:usuario_eliminar' usuario.codigo %}"  style="font-family: Righteous; color:maroon;">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <br><br>
        <h1 style="font-family: Righteous;">No hay Registros</h1>
        {% endif %}
        </tbody>
    </table>
    <br>
    <center><h4>
        <a class="nav-link" href="{% url 'ventas:usuario_crear' %}"  style="font-family: Righteous; color:maroon;">Crear Usuario</a>
    </h4></center>
</div>
-->
<!--<rigth><img src="{% static 'css/img/emoji.png' %}" width="100" height="100"></rigth>-->
<br>
        <div class="row spacer">
            <div class="col-4 offset-1">
                <a class="btn btn-danger" href="javascript:history.back()"><== Volver <==</a>
            </div>
        </div>
<br>
<div class="container" id="orden-form">
    <form method="post" style="font-family: Righteous; color:Black; font-size:15px;" id="formm">
        {% csrf_token %}
        <table>
            <tbody>
            <tr>
                <td>
                    <img src="{% static 'css/img/emoji.png' %}" width="100" height="100">
                </td>
                <td>
                    CERRADURAS INTERNACIONALES<br>Av. Centroamérica 21-51 Zona 1<br>Ciudad de Guatemala,Guatemala<br>
                    <p>(+502) 2323-8723</p>
                </td>
                <td>
                    <p>¿Incluye Instalación?
                        <input disabled type="text" class="form-control" name={{form.instalacion}}--------->
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead align="center">
                <th>Número de pedidos relacionados de clientes CISA</th>
            </thead>
        </table>
        <table>
            <td align="center">
                Descripción:<textarea disabled class="form-control" cols="62" rows="7"  name={{form4.descripcion}} </textarea>
            </td>
            <td align="center">
                Solicitado por:<textarea disabled class="form-control" cols="62" rows="7"  name={{form4.solicitado}} </textarea>
            </td>
        </table>
        <!-- <label for="">
            {{form2.nombre_proveedor.label}}
        </label>
        {{form2.nombre_proveedor}} -->
        <div class="form-group">
            <table>
                <tbody>
                    <tr>
                        <td>Proveedor:</td>
                        <td>
                            <input disabled type="text" class="form-control" name={{form2.nombre_proveedor}}
                        </td>
                    </tr>
                    <tr style="background-color:#54b8ba">
                        <td>Contacto:</td>
                        <td>
                            <input disabled type="text" class="form-control" name={{form2.contacto_proveedor}}
                        </td>
                    </tr>
                    <tr >
                        <td>Dirección:</td>
                        <td>
                            <input disabled type="text" class="form-control" name={{form2.direccion_proveedor}}
                        </td>
                    </tr>
                    <tr style="background-color:#54b8ba">
                        <td>Teléfono:</td>
                        <td>
                            <input disabled type="text" class="form-control" name={{form2.telefono_proveedor}}
                        </td>
                    </tr>
                    <tr>
                        <td>Correo:</td>
                        <td>
                            <input disabled type="text" class="form-control" name={{form2.correo_proveedor}}
                        </td>
                    </tr>
                    <tr style="background-color:#54b8ba">
                        <td>Anexo:</td>
                        <td>
                            <input disabled type="text" class="form-control" name={{form2.anexo}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tbody>
                    <tr>
                        <td>--------></td>
                        <td><br><b>ENVIAR A:</b></td>
                    </tr>
                    <tr style="background-color:#54b8ba">
                        <td>Cliente:</td>
                        <td><input disabled type="text" class="form-control" name={{form3.nombre_cliente}} </td>
                    </tr>
                    <tr>
                        <td>Contacto:</td>
                        <td><input disabled type="text" class="form-control" name={{form3.contacto_cliente}} </td>
                    </tr>
                    <tr style="background-color:#54b8ba">
                        <td>Dirección:</td>
                        <td><input disabled type="text" class="form-control" name={{form3.direccion_cliente}} </td>
                    </tr>
                    <tr>
                        <td>Teléfono:</td>
                        <td><input disabled type="text" class="form-control" name={{form3.telefono_cliente}} </td>
                    </tr>
                    <tr style="background-color:#54b8ba">
                        <td>Correo:</td>
                        <td><input disabled type="text" class="form-control" name={{form3.correo_cliente}} </td>
                    </tr>
                </tbody>
            </table>
        </div> -
        <div id="form_set">
        <table border="1|0">
            <thead>
                <th style="background-color:#279bbd">Productos</th>
            </thead>
        </table>
            <table>
            <tbody align="center">
                <tr>
                    <td style="color:#007e99;">Cantidad</td>
                    <td style="color:#007e99;">Código</td>
                    <td style="color:#007e99;">Color</td>
                    <td style="color:#007e99;">Función</td>
                    <td style="color:#007e99;">Medidas en m<br>(ancho x alto)</td>
                    <td style="color:#007e99;">Descripción del<br> Producto</td>
                    <td style="color:#007e99;">Precio por Unidad (Q.)</td>
                    <td style="color:#007e99;">Total (Q.)</td>
                </tr>
            {% for form5 in resultado %}
                    <tr>
                        <td>{{form5.cantidad}}</td>
                        <td>{{form5.codigo}}</td>
                        <td>{{form5.color}}</td>
                        <td>{{form5.funcion}}</td>
                        <td>{{form5.medida}}</td>
                        <td>{{form5.descripcion}}</td>
                        <td>{{form5.precio}}</td>
                        <td>{{form5.total}}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row spacer">
            <div class="col-4 offset-2">
                {{form.total_metro.label}}<input disabled type="text" class="form-control" name={{form.total_metro}} <br>
                {{form.tipo_vidrio.label}}<input disabled type="text" class="form-control" name={{form.tipo_vidrio}} <br>
                {{form.fecha_entrega.label}}<input disabled type="text" class="form-control" name={{form.fecha_entrega}} <br>
                {{form.observacion.label}}<textarea disabled class="form-control" cols="62" rows="7"  name={{form.observacion}} </textarea>
            </div><br><br>

            <div class="col-4 offset-2">
                <h5 style="color:maroon;">
                    <!--Total de la Orden: Q{{total.total__sum}} Esto es cuando en la Vista usamos Sum, Max, Min, OrdeyBy...-->
                    Total de la Orden: Q{{total|floatformat:2}}
                </h5>
                <h6 style="color:maroon;">
                    Precio por Metro Cuadrado: Q{{precio|floatformat:2}}
                </h6>
            </div>
        </div><br><br>
    </form>
</div>
{% endblock %}


{% block custom_js %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    var saldo = 0;
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        document.getElementById('oculto').style.display = 'block';
    });

    function verificar() {
        var saldo = 0;
        var consulta = 0;
        var ver = 0;
        for (var i = 0; i<100; i++){
            try{
                consulta = 27 + 9*(i);
                if(document.forms["formm"].elements[27 + 9*(i)].value)
                {
                    saldo += parseInt(document.forms["formm"].elements[27 + 9*(i)].value);
                }
            }
            catch(err){break;}
        }
        ver = consulta - 13; //Para obtener el Valor del dato del Total de metros.
        consulta = parseInt(document.forms["formm"].elements[ver].value);
        consulta = saldo / consulta;

        document.getElementsByName("verificacion2")[0].value =consulta;
        document.getElementsByName("verificacion")[0].value =saldo;
    }

</script>
{% endblock %}